@import url(fonts/Shumi-font.css);

body
{
	margin: 0;
	padding: 70px;
	font-family: system;
	background: url(../img/grain.png);
}
main
{
	padding: 20px 30px;
	background: white;
}
section
{
	width: 470px;
	margin: 40px auto;
}
code, textarea, pre { font-family: 'Inconsolata', monospace; font-weight: bold; }
pre { background: #e1ffff; margin: 0; margin-bottom: 10px; margin-top: 4px; padding: 7px 10px; }

h1
{
	margin: 0;
	padding: 40px 0;
	padding-top: 50px;
	font-family: Shumi;
	font-size: 58px;
	font-weight: normal;
	text-align: center;
	color: #737c84;
}
h3 { margin: 4px 0; color: #31d2ff; font-size: 20px; border-top: solid 1px; padding-top: 20px; }
h4 { color: #737C84; margin: 0; margin-bottom: 4px; }

menu header
{
	font-weight: bold;
	font-size: 18px;
}
menu a
{
	display: block;
	text-decoration: none;
	color: black;
}

#menu1
{
	width: 200px;
	padding: 20px;
}
#menu2
{
	width: 200px;
	padding: 20px;
}
textarea#txt
{
	display: block;
	padding: 10px;
	margin: 0;
	border: none;
	background: none;
}
icon
{
	padding: 3px 7px;
	display: inline-block;
}
textarea
{
	overflow: hidden;
}

footer
{
	padding-top: 20px;
	border-top: solid 1px silver;
	text-align: center;
}
